{# editUser.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Edit User</title>
		<!-- Bootstrap CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
		<style>
			.border-submit {
				background-color: #4CAF50;
				color: white;
				border: none;
				border-radius: 10px;
				padding: 10px 20px;
				width: 150px;
			}
			.button-edit {
				margin: auto auto auto 10px;
				height: 40px;
				background-color: #fff; /* Bootstrap primary color */
				color: #007bff;
				border: none;
				text-align: right;
				border: 1px solid transparent;
			}
			.button-edit:hover {
				background-color: #fff;
				color: #0056b3;
				border: 1px solid transparent;
			}


			.custom-checkbox-dropdown-container {
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 10px;
				height: 150px; /* Limit the height */
				overflow-y: auto; /* Scroll if too many options */

				background-color: #f9f9f9;

			}

			.custom-checkbox-dropdown-container label {
				display: flex;
				padding: 5px 21px;
				margin-top: -30px;
			}

			.custom-checkbox-dropdown-container label:hover {
				background-color: #f0f0f0;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid mt-4 ">
			<div class="table-responsive">
				<table class="table table-bordered">
					<tbody>
						<div id="userID" hidden>{{ user.id }}</div>
						<div>
							<h2>National Bank of Kuwait (Lebanon) S.A.L</h2>
							<h6>{{ user.created|date('F j, Y, g:i a') }}</h6>
						</div>
						<div class="d-flex justify-content-between mt-4">
							<h3 class="mb-2">
								<p>Edit User</p>
							</h3>
							<h3 class="mb-2">
								<p>Full Name:
									{{ user.fullName }}</p>
							</h3>
						</div>
						<div class="d-flex justify-content-between mt-1">
							<h3 class="mb-4">
								<p>SIM NO</p>
							</h3>
							<h3 class="mb-4">
								<p>Application reference:
									{{ user.id }}</p>
							</h3>
						</div>
						<div class="pb-4 mx-0">
							<a href="{{ path('app_nbk_users') }}" class="button-edit mx-0" style="text-decoration: none; font-size: 21px;">
								<span style="font-size: 25px; font-family: fantasy; font-weight: 600;">&larr;</span>
								Back to List
							</a>
						</div>
						{# <tr>
						<th>Existing relationship with NBK Lebanon</th>
						<td>
						<input type="text" name="user_id" value="{{ user.id }}" class="form-control" disabled/>
						</td>
						</tr> #}
						{{ form_start(form, { 'method': 'POST' }) }}
						<tr>
							<th>First Name</th>
							<td>
								{{ form_row(form.FullName) }}
							</td>
						</tr>
						<tr>
							<th>Mobile Numb</th>
							<td>
								{{ form_row(form.MobileNumb) }}
							</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>
								{{ form_row(form.Email) }}
							</td>
						</tr>
						<tr>
							<th>Branch/Unit</th>
							<td>
								{{ form_row(form.BranchId) }}
							</td>
						</tr>
					</tbody>
				</tr>
			
		{% if motherNameExists is not null %}
				<tr>
					<th>Mother's Name</th>
					<td>
						{{ form_row(form.MotherName) }}
					</td>
				</tr>
				<tr>
					<th>Gender</th>
					<td>
						{{ form_row(form.Gender) }}
					</td>
				</tr>
				<tr>
					<th>Date of Birth</th>
					<td>
						{{ form_row(form.Dob) }}
					</td>
				</tr>
				<tr>
					<th>Place Of Birth</th>
					<td>
						{{ form_row(form.PlaceOfBirth) }}
					</td>
				</tr>
				<tr>
					<th>Nationality</th>
					<td>
						{{ form_row(form.Nationality) }}
					</td>
				</tr>
				<tr>
					<th>Country of Origin</th>
					<td>
						{{ form_row(form.CountryofOrigin) }}
					</td>
				</tr>
				<tr>
					<th>National Id</th>
					<td>
						{{ form_row(form.NationalID) }}
					</td>
				</tr>
				<tr>
					<th>Expiration Date (National ID)</th>
					<td>
						{{ form_row(form.ExpirationNationalIDDate ) }}
					</td>
				</tr>
				<tr>
					<th>Register Place and No</th>
					<td>
						{{ form_row(form.RegisterPlaceNo ) }}
					</td>
				</tr>
				<tr>
					<th>Register Number</th>
					<td>
						{{ form_row(form.RegisterNumber ) }}
					</td>
				</tr>
				<tr>
					<th>Marital Status</th>
					<td>
						{{ form_row(form.MaritalStatus ) }}
					</td>
				</tr>
				<tr>
					<th>Passport Number</th>
					<td>
						{{ form_row(form.PassportNumber ) }}
					</td>
				</tr>
				<tr>
					<th>Place of Issue (Passport)</th>
					<td>
						{{ form_row(form.PlaceofIssuePassport ) }}
					</td>
				</tr>
				<tr>
					<th>Expiration Date (Passport)</th>
					<td>
						{{ form_row(form.ExpirationDatePassport ) }}
					</td>
				</tr>
				<tr>
					<th>Other Nationalities</th>
					<td>
						<div class="custom-checkbox-dropdown-container">
							{{ form_row(form.OtherNationalities ) }}
						</div>
					</td>
				</tr>
				<tr>
					<th>Status in Lebanon</th>
					<td>
						{{ form_row(form.StatusinLebanon ) }}
					</td>
				</tr>
				<tr>
					<th>other Countries Tax Residence</th>
					<td>
						{{ form_row(form.otherCountriesTaxResidence ) }}
					</td>
				</tr>
				<tr>
					<th>TaxResidencyIdNumber</th>
					<td>
						{{ form_row(form.TaxResidencyIdNumber ) }}
					</td>
				</tr>
				<tr>
					<th>International Address</th>
					<td>
						{{ form_row(form.InternationalAddress ) }}
					</td>
				</tr>
				<tr>
					<th>International Area</th>
					<td>
						{{ form_row(form.intArea ) }}
					</td>
				</tr>
				<tr>
					<th>International street</th>
					<td>
						{{ form_row(form.intStreet ) }}
					</td>
				</tr>
				<tr>
					<th>International building/house</th>
					<td>
						{{ form_row(form.intBuilding ) }}
					</td>
				</tr>
				<tr>
					<th>International Floor</th>
					<td>
						{{ form_row(form.intFloor ) }}
					</td>
				</tr>
				<tr>
					<th>International Apartment</th>
					<td>
						{{ form_row(form.intAppartment ) }}
					</td>
				</tr>
				<tr>
					<th>International House Tele phoneNumber</th>
					<td>
						{{ form_row(form.internationalHouseTelephoneNumber ) }}
					</td>
				</tr>
				<tr>
					<th>International Mobile Number</th>
					<td>
						{{ form_row(form.internationalMobileNumber ) }}
					</td>
				</tr>
				<tr>
					<th>alternate Contact Name</th>
					<td>
						{{ form_row(form.alternateContactName ) }}
					</td>
				</tr>
				<tr>
					<th>alternate Telephone Number</th>
					<td>
						{{ form_row(form.alternateTelephoneNumber ) }}
					</td>
				</tr>
				<tr>
					<th>Spouse Name</th>
					<td>
						{{ form_row(form.SpouseName ) }}
					</td>
				</tr>
				<tr>
					<th>Spouse Profession</th>
					<td>
						{{ form_row(form.SpouseProfession ) }}
					</td>
				</tr>
				<tr>
					<th>No. of Children</th>
					<td>
						{{ form_row(form.NoofChildren ) }}
					</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>
						{{ form_row(form.city ) }}
						{{ form_row(form.street ) }}
						{{ form_row(form.building ) }}
						{{ form_row(form.floor ) }}
						{{ form_row(form.apartment ) }}
					</td>
				</tr>
				<tr>
					<th>HouseTelNO</th>
					<td>
						{{ form_row(form.HouseTelNO ) }}
					</td>
				</tr>
				<tr>
					<th>Work Info</th>
					<td>
						{{ form_row(form.profession ) }}
						{{ form_row(form.jobTitle ) }}
						{{ form_row(form.activitySector ) }}
						{{ form_row(form.entityName ) }}
					</td>
				</tr>
				<tr>
					<th>public Sector</th>
					<td>
						{{ form_row(form.publicSector ) }}
					</td>
				</tr>
				<tr>
					<th>Education Level</th>
					<td>
						{{ form_row(form.educationLevel ) }}
					</td>
				</tr>
				<tr>
					<th>Work Address</th>
					<td>
						{{ form_row(form.WorkAddress ) }}
					</td>
				</tr>
				<tr>
					<th>Work Tel No</th>
					<td>
						{{ form_row(form.WorkTelNo ) }}
					</td>
				</tr>
				<tr>
					<th>IS Listed</th>
					<td>
						{{ form_row(form.ISListed ) }}
					</td>
				</tr>
				<tr>
					<th>Grade</th>
					<td>
						{{ form_row(form.grade ) }}
					</td>
				</tr>
				<tr>
					<th>Customer Same As Beneficiary</th>
					<td>
						{{ form_row(form.CustomerSameAsBeneficiary ) }}
					</td>
				</tr>
				<tr>
					<th>Bro Nationality</th>
					<td>
						{{ form_row(form.broNationality ) }}
					</td>
				</tr>
				<tr>
					<th>Beneficiary Name</th>
					<td>
						{{ form_row(form.BeneficiaryName ) }}
					</td>
				</tr>
				<tr>
					<th>Relationship</th>
					<td>
						{{ form_row(form.relationship ) }}
					</td>
				</tr>
				<tr>
					<th>BRO Civil Id Number</th>
					<td>
						{{ form_row(form.broCivilIdNumber ) }}
					</td>
				</tr>
				<tr>
					<th>BRO Expiration Date</th>
					<td>
						{{ form_row(form.broexpirationDate) }}
					</td>
				</tr>
				<tr>
					<th>Reason Of Bro</th>
					<td>
						{{ form_row(form.reasonOfBro ) }}
					</td>
				</tr>
				<tr>
					<th>BRO Address</th>
					<td>
						{{ form_row(form.broaddress ) }}
					</td>
				</tr>
				<tr>
					<th>BRO profession</th>
					<td>
						{{ form_row(form.broprofession ) }}
					</td>
				</tr>
				<tr>
					<th>BRO Income Wealth Details</th>
					<td>
						{{ form_row(form.incomeWealthDetails ) }}
					</td>
				</tr>
				<tr>
					<th>political Position</th>
					<td>
						{{ form_row(form.politicalPosition ) }}
					</td>
				</tr>
				<tr>
					<th>current/Previous</th>
					<td>
						{{ form_row(form.currentPrevious ) }}
					</td>
				</tr>
				<tr>
					<th>Year Of Retirement</th>
					<td>
						{{ form_row(form.yearOfRetirement)}}
					</td>
				</tr>
				<tr>
					<th>PEP Name</th>
					<td>
						{{ form_row(form.pepname ) }}
					</td>
				</tr>
				<tr>
					<th>PEP Relationship</th>
					<td>
						{{ form_row(form.peprelationship ) }}
					</td>
				</tr>
				<tr>
					<th>PEP Position</th>
					<td>
						{{ form_row(form.pepposition)}}
					</td>
				</tr>
				<tr>
					<th>Source Of Funds</th>
					<td>
						{{ form_row(form.sourceOfFunds)}}
					</td>
				</tr>
				<tr>
					<th>financel currency</th>
					<td>
						{{ form_row(form.financelcurrency)}}
					</td>
				</tr>
				<tr>
					<th>monthly Basic Salary</th>
					<td>
						{{ form_row(form.monthlyBasicSalary)}}
					</td>
				</tr>
				<tr>
					<th>monthly Allowances</th>
					<td>
						{{ form_row(form.monthlyAllowances)}}
					</td>
				</tr>
				<tr>
					<th>Additional Income Sources Array</th>
					<td>
						<div class="custom-checkbox-dropdown-container">
							{{ form_row(form.AdditionalIncomeSourcesArray) }}
						</div>
					</td>
				</tr>

				<tr>
					<th>others Source Of Found</th>
					<td>
						{{ form_row(form.othersSourceOfFound)}}
					</td>
				</tr>
				<tr>
					<th>sourcesOfWealth</th>
					<td>
						{{ form_row(form.sourcesOfWealth)}}
					</td>
				</tr>
				<tr>
					<th>Total Estimated Monthly Income</th>
					<td>
						{{ form_row(form.TotalEstimatedMonthlyIncome)}}
					</td>
				</tr>
				<tr>
					<th>estimated Wealth Amount</th>
					<td>
						{{ form_row(form.estimatedWealthAmount)}}
					</td>
				</tr>
				<tr>
					<th>
						Income Category</th>
					<td>
						{{ form_row(form.IncomeCategory)}}
					</td>
				</tr>
				<tr>
					<th>
						Is Wealth Inherited</th>
					<td>
						{{ form_row(form.isWealthInherited)}}
					</td>
				</tr>
				<tr>
					<th>
						expected Number Of Transactions
					</th>
					<td>
						{{ form_row(form.expectedNumberOfTransactions)}}
					</td>
				</tr>
				<tr>
					<th>
						expected Value Of Transactions
					</th>
					<td>
						{{ form_row(form.expectedValueOfTransactions)}}
					</td>
				</tr>
				<tr>
					<th>
						Frequency
					</th>
					<td>
						{{ form_row(form.finanfrequency)}}
					</td>
				</tr>
				<tr>
					<th>
						other Accounts Banks
					</th>
					<td>
						{{ form_row(form.otherAccountsAtBanks)}}
					</td>
				</tr>
				<tr>
					<th>
						bank Name
					</th>
					<td>
						{{ form_row(form.bankNameone)}}
					</td>
				</tr>
				<tr>
					<th>
						Country
					</th>
					<td>
						{{ form_row(form.Countryone)}}
					</td>
				</tr>
				<tr>
					<th>
						Account Balance
					</th>
					<td>
						{{ form_row(form.AccountBalanceOne)}}
					</td>
				</tr>
				<tr>
					<th>
						second bank Name
					</th>
					<td>
						{{ form_row(form.secondBankName)}}
					</td>
				</tr>
				<tr>
					<th>
						second Country
					</th>
					<td>
						{{ form_row(form.secondCountry)}}
					</td>
				</tr>
				<tr>
					<th>
						second Account Balance
					</th>
					<td>
						{{ form_row(form.secondBankBalance)}}
					</td>
				</tr>
				<tr>
					<th>
						third bank Name
					</th>
					<td>
						{{ form_row(form.thirdBankName)}}
					</td>
				</tr>
				<tr>
					<th>
						Third Country
					</th>
					<td>
						{{ form_row(form.thirdAccountCountry)}}
					</td>
				</tr>
				<tr>
					<th>
						Third Account Balance
					</th>
					<td>
						{{ form_row(form.thirdAccountBalance)}}
					</td>
				</tr>
				<tr>
					<th>
						Nature Of Relation
					</th>
					<td>
						{{ form_row(form.natureOfRelation)}}
					</td>
				</tr>
				<tr>
					<th>
						Purpose Of Relation
					</th>
					<td>
						{{ form_row(form.purposeOfRelation)}}
					</td>
				</tr>
				<tr>
					<th>
						select ID Type
					</th>
					<td>

						{{ form_row(form.selectIDType)}}

					</td>
				</tr>
				{% for financialDetail in user.financialDetails %}
					<tr>
						<th>Front Image ID</th>
						<td>

							{% if financialDetail.frontImageID %}
								<img src="http://nbk.lss{{financialDetail.frontImageID}}" alt="Front Image" style="max-width: 200px; max-height: 200px;"/>
							{% else %}
								<p>No front image  ID uploaded.</p>
							{% endif %}

							{{ form_row(form.frontImageID) }}

						</td>
					</tr>
					<tr>
						<th>Back Image ID</th>
						<td>
							{% if financialDetail.backImageID %}
								<img src="http://nbk.lss{{financialDetail.backImageID}}" alt="back Image ID  " style="max-width: 200px; max-height: 200px;"/>
							{% else %}
								<p>No back Image ID uploaded.</p>
							{% endif %}

							{{ form_row(form.backImageID) }}
						</td>
					</tr>
					<tr>
						<th>Account Statement</th>
						<td>
							{% if financialDetail.accountStatement %}
								<img src="http://nbk.lss{{financialDetail.accountStatement}}" alt="account Statement Image" style="max-width: 200px; max-height: 200px;"/>
							{% else %}
								<p>No account Statement uploaded.</p>
							{% endif %}

							{{ form_row(form.accountStatement) }}
						</td>
					</tr>
					<tr>
						<th>Other Document</th>
						<td>
							{% if financialDetail.otherDocument %}
								<img src="http://nbk.lss{{financialDetail.otherDocument}}" alt=" other Document Image" style="max-width: 200px; max-height: 200px;"/>
							{% else %}
								<p>No  other Document uploaded.</p>
							{% endif %}

							{{ form_row(form.otherDocument) }}
						</td>
					</tr>
					<tr>
						<th>Real Estate Title</th>
						<td>
							{% if financialDetail.realEstateTitle %}
								<img src="http://nbk.lss{{financialDetail.realEstateTitle}}" alt="real Estate Title  Image" style="max-width: 200px; max-height: 200px;"/>
							{% else %}
								<p>No  real Estate Title uploaded.</p>
							{% endif %}

							{{ form_row(form.realEstateTitle) }}
						</td>
					</tr>
					<tr>
						<th>Employer Letter</th>
						<td>
							{% if financialDetail.employerLetter %}
								<img src="http://nbk.lss{{financialDetail.employerLetter}}" alt="employer Letter Image" style="max-width: 200px; max-height: 200px;"/>
							{% else %}
								<p>No employer Letter uploaded.</p>
							{% endif %}
							{{ form_row(form.employerLetter) }}
						</td>
					</tr>
				{% endfor %}
		{% endif %}

				<tr>
					<td colspan="2">
						<div class=" text-center w-100">
							<button type="submit" class="border-submit text-center ">Submit</button>
						</div>

					</td>
				</tr>
			</tbody>
		</table>
		{{ form_end(form) }}
	</body>
</html></div></div></body></html>
