{# user_list.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid mt-4">
    <h1 class="mb-4">Users List</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Full Name', 'u.fullName') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Mobile Numb', 'u.mobileNumb') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                 {% for user in pagination  %}
                    <tr>
                        <td><a  href="/userInfo/{{ user.id }}" target="_blank">{{ user.id }}</a></td>
                        <td>{{ user.fullName }}</td>
                        <td>{{ user.mobileNumb }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a class="btn btn-primary" href="/userInfo/{{ user.id }}" target="_blank">View User</a>
                            <a   class="btn btn-danger" href="{{ path('submit_form', {'id': user.id}) }}">Resend Email</a>
                              <a  class="btn btn-secondary" href="{{ path('edit_info', {'id': user.id}) }}" >Edit User </a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-4">{{ knp_pagination_render(pagination, 'nbkusers/_pagination.html.twig') }}</div>

</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
